#container{
	position:absolute;
	left:0px;
	top:0px;
	z-index: 4;
    width: 100%;
height: 100%;
    background-color: black;}
img{
    width: 70%;
}
.inner {
    margin: 0 auto;
	position:absolute;
	z-index: 3;
    text-align: center;
    width: 90%;
}
h1{
    color: greenyellow;
    margin-top: 20px;
}
.tab {
    display: flex;
    text-align: center;
    color: gray;
    font-size: 14px;
}
.tab li {
    padding: 1rem;
    width: 100%;
    border-bottom: 2px solid green;
    cursor: pointer;
    list-style: none;
    font-weight: bold;
    font-size:24px;
}
.tab li.active {
    border-bottom: 2px solid black;
    background: green;
    color: white;
    font-weight: bold;
}
.tab li:hover{
    background: green;
}
.card {
    margin-bottom: 0.5rem;
    max-width: 100%;
    margin:0 auto;
    padding: 1rem;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  }
.list{
    background-color: greenyellow;
    line-height: 40px;
    border-radius: 0.2rem;
}
.list li{
    position: relative;
    padding-right: 2rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.todo{
  border: yellow 5px solid;
  width: 85%;
  line-height: 50px; 
  font-size: 24px; 
  margin-bottom: 24px;
}
.choose{
    height: 32px;
    border: tomato 2px solid;
    
}
.submit{
    line-height: 50px; 
    font-size: 24px;
    background: brown;
    color: white;
    font-weight: bold;
}
.lightning{
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	z-index: 0;
}